/*Your styles*/

 body {
    margin: 10px;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width: 100%;
}


/*==================bar deisgn======================*/
#filelist::-webkit-scrollbar{
                height: 3px;
                width: 3px;
                background-color: rgba(10, 32, 150, 0.19);    
            }
            
            #filelist::-webkit-scrollbar-track{
                border-radius: 10px;    
            }
            
            #filelist::-webkit-scrollbar-thumb{
                border-radius: 10px; 
                background-color: #121fbf;    
            }
            
            #filelist::-webkit-scrollbar-corner{
                display: none;    
            }

            ::-webkit-scrollbar{
                height: 5px;
                width: 5px;
                background-color: #0c0c1c;    
            }
            
            ::-webkit-scrollbar-track{
                border-radius: 10px;    
            }
            
            ::-webkit-scrollbar-thumb{
                border-radius: 5px;
                background-color:  #8e8ca5;   
            }


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}